
/* wrapper */
.wrapper {
  background: var(--primary-background-color);
  overflow: hidden;
  }

/* header */
.header {
  position: relative;
  padding: 16px 0;
  z-index: 5;
  }

.header__in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  }

/* logo */
.logo {
  width: 127px;
  }

.logo img {
  width: 100%;
  }

/* header__col */
.header__col {
  display: flex;
  align-items: center;
  gap: 0 32px;
  }

/* main-nav */
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 0 32px;
  }

.main-nav li {
  font-size: 16px;
  font-weight: var(--secondary-font-weight);
  line-height: 22px;
  }

/* menu-btn */
.menu-btn {
  display: none;
  }

/* application-section */
.application-section {
  position: relative;
  padding: 56px 0 80px;
  }

.application-section__left-shadow {
  position: absolute;
  width: 189px;
  height: 189px;
  left: -48px;
  bottom: 80px;
  }

.application-section__left-shadow:before {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0px 0px 200px 100px rgba(56, 112, 212, 0.3);
  content: "";
  }

.application-section__right-shadow {
  position: absolute;
  width: 189px;
  height: 189px;
  top: 0;
  right: 69px;
  }

.application-section__right-shadow:before {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0px 0px 200px 100px rgba(56, 112, 212, 0.3);
  content: "";
  }

.application-section__col {
  position: relative;
  display: flex;
  align-items: flex-start;
  z-index: 5;
  }

/* application-section__description */
.application-section__description {
  position: relative;
  flex-grow: 1;
  padding: 116px 0 0 3px;
  }

.application-section__content {
  position: relative;
  z-index: 7;
  }

.application-section__title {
  margin: 0 0 32px;
  color: var(--quaternary-text-color);
  font-family: var(--secondary-font-family);
  text-transform: uppercase;
  }

.application-section__title span {
  display: block;
  color: var(--tertiary-text-color);
  font-size: 80px;
  line-height: 98px;
  }

.application-section__title small {
  display: block;
  font-size: 40px;
  line-height: 48px;
  }

.application-section__img {
  position: absolute;
  width: 300px;
  top: 50px;
  right: -16px;
  }

.application-section__img img {
  position: relative;
  width: 100%;
  z-index: 6;
  }

.application-section__img-shadow {
  position: absolute;
  width: 457px;
  height: 457px;
  top: -67px;
  left: -33px;
  z-index: 2;
  }

.application-section__img-shadow:before {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0 0 200px 200px rgba(56, 112, 212, 0.2);
  content: "";
  }

/* application-form */
.application-form {
  position: relative;
  flex-shrink: 0;
  padding: 50px 40px 56px;
  width: 635px;
  background: var(--quaternary-background-color);
  border-radius: 40px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.05);
  z-index: 5;
  }

.application-form__top-col {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin: 0 0 44px;
  }

.application-form__bottom-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px 0;
  }

.application-form__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  }

/* steps-section */
.steps-section {
  position: relative;
  padding: 54px 0;
  background: var(--quaternary-background-color);
  z-index: 5;
  }

/* steps */
.steps {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 56px 56px;
  padding: 0 108px;
  text-align: center;
  }

.steps__number {
  position: relative;
  margin: 0 auto 16px;
  padding: 1px;
  width: 120px;
  height: 120px;
  background: rgb(56,112,212);
  background: linear-gradient(90deg, rgba(56,112,212,1) 0%, rgba(96,150,245,1) 100%);
  border-radius: 100%;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
  }

.steps__number:after {
  position: absolute;
  display: block;
  width: 28px;
  height: 28px;
  top: 2px;
  right: 2px;
  background: url(../img/icons/check.svg) center no-repeat;
  background-size: 100%;
  content: "";
  }

.steps__number-in {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: var(--quaternary-background-color);
  border-radius: 100%;
  }

.steps__number span {
  display: block;
  font-size: 56px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 56px;
  }

.steps__title {
  margin: 0 0 16px;
  font-size: 20px;
  font-weight: var(--quaternary-font-weight);
  line-height: 24px;
  }

.steps p {
  margin: 0;
  }

/* faq-section */
.faq-section {
  padding: 80px 0;
  }

.faq-section__col {
  display: flex;
  align-items: flex-start;
  gap: 0 95px;
  padding: 0 0 0 38px;
  }

/* faq-section__img */
.faq-section__img {
  position: relative;
  flex-shrink: 0;
  width: 427px;
  }

.faq-section__img-shadow {
  position: absolute;
  display: block;
  width: 473px;
  height: 473px;
  top: 53px;
  left: -38px;
  content: "";
  }

.faq-section__img-shadow:before {
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  box-shadow: 0 0 200px 200px rgba(56, 112, 212, 0.2);
  content: "";
  }

.faq-section__img img {
  position: relative;
  width: 100%;
  z-index: 3;
  }

/* accordion */
.accordion {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  }

.faq-section .accordion {
  position: relative;
  flex-grow: 1;
  margin: 50px 0 0;
  z-index: 5;
  }

.accordion__item {
  padding: 25px 43px 24px;
  background: var(--quaternary-background-color);
  border-radius: 16px;
  box-shadow: 8px 8px 8px 0 rgba(0, 0, 0, 0.03);
  transition: .3s transform;
  }

.accordion__item:hover {
  transform: scale(1.03);
  }

.accordion__title-panel {
  position: relative;
  padding: 0 40px 0 0;
  }

.accordion__title {
  display: block;
  font-size: 20px;
  font-weight: var(--tertiary-font-weight);
  line-height: 20px;
  cursor: pointer;
  }

.accordion__icon {
  position: absolute;
  margin: -4px 0 0;
  width: 14px;
  height: 8px;
  top: 50%;
  right: 0;
  background: url(../img/icons/accordion-arrow.svg) center no-repeat;
  background-size: 100%;
  content: "";
  transition: .5s transform;
  cursor: pointer;
  }

.accordion__title-panel.active .accordion__icon {
  transform: rotate(180deg);
  }

.accordion__content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
  }

.accordion__description {
  padding: 16px 0 0;
  max-width: 640px;
  }

.accordion__description p:last-of-type {
  margin: 0;
  }

/* loan-section */
.loan-section {
  padding: 40px 0 0;
  background: var(--quaternary-background-color);
  }

.loan-section__col {
  display: flex;
  align-items: flex-start;
  gap: 0 50px;
  }

/* loan-section__info */
.loan-section__info {
  flex-grow: 1;
  padding: 52px 0 0;
  }

.loan-section__title {
  margin: 0 0 16px;
  font-size: 40px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  text-transform: uppercase;
  line-height: 48px;
  }

.loan-section__subtitle {
  margin: 0 0 35px;
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: var(--secondary-font-weight);
  line-height: 32px;
  }

/* loan-form */
.loan-form {
  max-width: 558px;
  }

.loan-form__col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px 0;
  margin: 0 0 28px;
  }

/* loan-section__img */
.loan-section__img {
  flex-shrink: 0;
  width: 588px;
  }

.loan-section__img img {
  width: 100%;
  }

/* advantages-section */
.advantages-section {
  padding: 90px 0;
  }

/* advantages */
.advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 40px;
  }

.advantages__item {
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 16px;
  gap: 0 24px;
  background: rgb(95,148,244);
  background: linear-gradient(-124deg, rgba(95,148,244,1) 40%, rgba(210,226,255,1) 100%);
  border-radius: 24px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
  }

.advantages__img {
  height: 120px;
  }

.advantages__img img {
  max-width: inherit;
  height: 100%;
  }

.advantages__text {
  display: block;
  color: var(--fifth-text-color);
  font-size: 24px;
  font-weight: var(--quaternary-font-weight);
  line-height: 28px;
  }

/* payment-rules-section */
.payment-rules-section {
  padding: 56px 0;
  text-align: center;
  background: var(--quaternary-background-color);
  }

.payment-rules-section .title {
  margin: 0 0 24px;
  }

.payment-rules-section p {
  margin: 0 0 40px;
  font-size: 18px;
  line-height: 27px;
  }

/* contacts-section */
.contacts-section {
  padding: 90px 0 40px;
  }

.contacts-section__in {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 30px;
  }

/* email */
.email {
  display: flex;
  align-items: center;
  gap: 0 16px;
  }

.email__icon {
  flex-shrink: 0;
  padding: 12px;
  width: 64px;
  height: 64px;
  background: var(--secondary-background-color);
  border-radius: 100%;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
  }

.email__icon img {
  width: 100%;
  }

.email__info {
  display: flex;
  flex-direction: column;
  gap: 4px 0;
  }

.email__title {
  display: block;
  color: var(--secondary-text-color);
  font-size: 20px;
  font-weight: var(--tertiary-font-weight);
  line-height: 30px;
  }

.email__text {
  display: block;
  font-size: 24px;
  font-weight: var(--quaternary-font-weight);
  line-height: 28px;
  }

/* contacts-section__description */
.contacts-section__description {
  max-width: 820px;
  }

.contacts-section p {
  margin: 0 0 40px;
  font-size: 14px;
  line-height: 21px;
  }

.contacts-section p:last-of-type {
  margin: 0;
  }

.contacts-section p a {
  color: var(--secondary-text-color);
  }

/* personal-account-section */
.personal-account-section {
  padding: 56px 0;
  }

/* account-tabs */
.account-tabs__nav {
  margin: 0 0 30px;
  padding: 0 0 20px;
  border-bottom: 1px solid var(--secondary-border-color);
  }

.account-tabs__nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 30px;
  padding: 0 50px;
  }

.account-tabs__nav li {
  font-size: 20px;
  font-weight: var(--tertiary-font-weight);
  line-height: 28px;
  cursor: pointer;
  }

.account-tabs__icon {
  margin: 0 auto 15px;
  padding: 13px;
  width: 70px;
  height: 70px;
  background: var(--secondary-background-color);
  border-radius: 100%;
  transition: .3s background;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.1);
  }

.account-tabs__nav li:hover .account-tabs__icon,
.account-tabs__nav .active .account-tabs__icon {
  background: var(--tertiary-background-color);
  }

.account-tabs__icon img {
  width: 100%;
  }

.account-tabs__icon img + img {
  display: none;
  }

.account-tabs__nav li:hover .account-tabs__icon img,
.account-tabs__nav .active .account-tabs__icon img {
  display: none;
  }

.account-tabs__nav li:hover .account-tabs__icon img + img,
.account-tabs__nav .active .account-tabs__icon img + img {
  display: block;
  }

.account-tabs__text {
  display: block;
  font-size: 20px;
  line-height: 28px;
  transition: .3s color;
  cursor: pointer;
  }

.account-tabs__item {
  display: none;
  }

.account-tabs__item.active {
  display: block;
  }

/* applications__result */
.applications__result {
  display: flex;
  align-items: center;
  gap: 0 5px;
  margin: 0 0 30px;
  font-size: 20px;
  line-height: 32px;
  }

.applications__result dt {
  font-weight: var(--primary-font-weight);
  }

.applications__result dd {
  color: var(--tertiary-text-color);
  font-weight: var(--tertiary-font-weight);
  }

/* applications-content */
.applications-content {
  display: flex;
  flex-direction: column;
  margin: 0 0 50px;
  padding: 50px 250px 56px 40px;
  gap: 30px 0;
  background: var(--secondary-background-color);
  border-radius: 30px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }

/* applications-content__top-col */
.applications-content__top-col {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
  }

.applications-content__number {
  display: block;
  font-size: 16px;
  line-height: 24px;
  }

/* application-status */
.application-status {
  display: flex;
  align-items: center;
  gap: 0 5px;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffa500;
  border-radius: 5px;
  }

.application-status_completed {
  border: 1px solid #46a440;
  }

.application-status dd {
  color: #ffa500;
  font-weight: var(--tertiary-font-weight);
  }

.application-status_completed {
  border: 1px solid #46a440;
  }

.application-status_completed dd {
  color: #46a440;
  }

.application-status_cancelled {
  border: 1px solid #ff0000;
  }

.application-status_cancelled dd {
  color: #ff0000;
  }

/* applications-content__info-list */
.applications-content__info-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
  }

.applications-content__info-list dl {
  display: flex;
  align-items: center;
  gap: 0 10px;
  font-size: 16px;
  line-height: 24px;
  }

.applications-content__info-list dd {
  color: var(--tertiary-text-color);
  font-weight: var(--tertiary-font-weight);
  }

/* applications-content__list */
.applications-content__list {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  }

.applications-content__list > dl {
  display: flex;
  align-items: flex-start;
  gap: 0 30px;
  }

.applications-content__list > dl > dt {
  flex-shrink: 0;
  width: 140px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  text-transform: uppercase;
  line-height: 24px;
  }

.applications-content__list > dl > dd {
  width: 100%;
  }

/* person-panel */
.person-panel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px 30px;
  }

.person-panel__name {
  display: block;
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: var(--secondary-font-weight);
  line-height: 24px;
  }

.person-panel__card-number {
  display: block;
  font-size: 18px;
  font-weight: var(--secondary-font-weight);
  line-height: 24px;
  }

.person-panel__card-number {
  display: flex;
  align-items: center;
  gap: 0 10px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 24px;
  }

.person-panel__card-number span {
  color: var(--primary-text-color);
  }

.cancel-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 0 30px;
  font-size: 16px;
  line-height: 24px;
  }

.cancel-link:before {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../img/icons/cancel.svg) center no-repeat;
  background-size: 100%;
  content: "";
  }

/* payment-status */
.payment-status {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  }

.payment-status__date {
  display: block;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 24px;
  }

.payment-status__purpose {
  display: block;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 24px;
  }

.payment-status__paid {
  display: block;
  font-size: 18px;
  line-height: 24px;
  }

.payment-status__refund {
  display: block;
  font-size: 18px;
  line-height: 24px;
  }

/* applications-content__list-links */
.applications-content__list-links {
  display: flex;
  flex-direction: column;
  gap: 15px 0;
  margin: 0 0 30px;
  }

.applications-content__list-links li {
  font-size: 18px;
  line-height: 24px;
  }

.applications-content__list-links a {
  color: var(--tertiary-text-color);
  }

.applications-content__list-links a:hover {
  color: var(--primary-text-color);
  }

/* applications-content__btns-col */
.applications-content__btns-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 30px 40px;
  margin: 0 0 30px
  }

.applications-content__btns-col .btn:nth-child(1) {
  grid-column: 1 / 2;
  }

.applications-content__btns-col .btn:nth-child(2) {
  grid-row: 2;
  }

.applications-content__btns-col .btn:nth-child(3) {
  grid-row: 2;
  }

/* views */
.views {
  display: flex;
  align-items: center;
  gap: 0 5px;
  font-size: 16px;
  line-height: 24px
  }

.views dt {
  color: var(--secondary-text-color);
  }

.views dd {
  color: var(--tertiary-text-color);
  font-weight: var(--tertiary-font-weight);
  }

/* applications__bottom-col */
.applications__bottom-col {
  display: flex;
  justify-content: center;
  }

/* profile */
.profile {
  display: flex;
  flex-direction: column;
  padding: 50px 40px 56px;
  gap: 30px 0;
  background: var(--secondary-background-color);
  border-radius: 30px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }

.profile__item {
  padding: 0 0 30px;
  border-bottom: 1px solid var(--secondary-border-color);
  }

.profile__item:last-child {
  padding: 0;
  border-bottom: 0;
  }

.profile__title {
  margin: 0 0 30px;
  font-size: 40px;
  font-weight: var(--quaternary-font-weight);
  line-height: 48px;
  color: var(--tertiary-text-color);
  font-family: var(--secondary-font-family);
  }

.profile__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
  }

.profile__list dt {
  margin: 0 0 10px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  text-transform: uppercase;
  line-height: 24px;
  }

.profile__list dd {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 24px;
  }

.profile__list dd a {
  color: var(--secondary-text-color);
  }

/* account-info */
.account-info {
  padding: 50px 40px 56px;
  gap: 30px 0;
  background: var(--secondary-background-color);
  border-radius: 30px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }

.account-info__title {
  margin: 0 0 30px;
  font-size: 40px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 48px;
  }

.account-info p {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 27px;
  }

.account-info p:last-child {
  margin: 0;
  }

/* events */
.events {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  }

.events__item {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 20px 0;
  background: var(--secondary-background-color);
  border-radius: 30px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }

.events__text {
  display: block;
  font-size: 30px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 38px;
  }

.events__date {
  display: block;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 24px;
  }

/* services */
.services {
  display: flex;
  flex-direction: column;
  gap: 40px 0;
  }

.services__top-col {
  display: flex;
  align-items: center;
  gap: 0 50px;
  margin: 0 0 70px;
  }

/* services-widget */
.services-widget {
  flex-shrink: 0;
  padding: 50px 40px 56px;
  width: 500px;
  text-align: center;
  background: var(--secondary-background-color);
  border-radius: 30px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }

.services-widget__price {
  display: block;
  margin: 0 0 10px;
  color: var(--tertiary-text-color);
  font-size: 50px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 58px;
  }

.services-widget__title {
  margin: 0 0 10px;
  font-size: 22px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 30px;
  }

.services__text {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  gap: 5px 0;
  }

.services-widget p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  }

.services__title {
  margin: 0 0 20px;
  font-size: 40px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 48px;
  }

.services__description p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  }

.services__description p a {
  color: var(--tertiary-text-color);
  }

.services__description p a:hover {
  color: var(--primary-text-color);
  }

/* rating */
.rating__description {
  margin: 0 0 30px;
  }

.rating__title {
  margin: 0 0 10px;
  font-size: 40px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 48px;
  }

.rating__date {
  display: block;
  margin: 0 0 30px;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 24px;
  }

.rating__small-title {
  margin: 0 0 10px;
  font-size: 26px;
  font-family: var(--secondary-font-family);
  font-weight: var(--fifth-font-weight);
  line-height: 30px;
  }

.rating__small-title.satisfactory {
  color: #ffa500;
  }

.rating p {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  }

/* chart */
.chart__line {
  position: relative;
  }

.chart__line-pointer {
  position: absolute;
  margin: -14px 0 0 -14px;
  width: 28px;
  height: 28px;
  top: 50%;
  left: 50%;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 0 0 5px #ffa500 inset;
  }

.chart__line-in {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 0 20px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  }

.chart__line-in div {
  height: 16px;
  }

.chart__line-in div:first-child {
  border-radius: 10px 0 0 10px;
  }

.chart__line-in div:last-child {
  border-radius: 0 10px 10px 0;
  }

.chart__line-bad {
  background: #ff0000;
  }

.chart__line-satisfactory {
  background: #ffa500;
  }

.chart__line-excellent {
  background: #46a440;
  }

.chart__rate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  }

.chart__client-rate {
  display: block;
  color: var(--tertiary-text-color);
  font-size: 34px;
  font-family: var(--secondary-font-family);
  line-height: 40px;
  }

.chart__main-rate {
  display: block;
  font-size: 34px;
  font-family: var(--secondary-font-family);
  line-height: 40px;
  }

/* messengers */
.messengers {
  margin: 0 0 70px;
  }

.messengers .services__title {
  text-align: center;
  }

.messengers p {
  text-align: center;
  }

.messengers__col {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 30px;
  }

/* loan-options-wrap */
.loan-options-wrap {
  margin: 0 0 50px;
  }

.services__title {
  margin: 0 0 10px;
  text-align: center;
  }

.loan-options-wrap p {
  margin: 0 0 30px;
  text-align: center;
  }

/* loan-options */
.loan-options {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 30px;
  }

.loan-options__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 30px;
  background: var(--secondary-background-color);
  border-radius: 30px;
  box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.05);
  }

.loan-options__item:before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 1px var(--tertiary-background-color);
  opacity: 0;
  z-index: 1;
  content: "";
  transition: .3s opacity;
  pointer-events: none;
  }

.loan-options__item:hover:before {
  opacity: 1;
  }

.loan-options__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto 30px;
  max-width: 290px;
  height: 60px;
  }

.loan-options__logo img {
  width: 100%;
  }

.loan-options__list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin: 0 0 30px;
  }

.loan-options__list li {
  display: flex;
  align-items: center;
  gap: 0 5px;
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--quaternary-font-weight);
  }

.loan-options__list img {
  flex-shrink: 0;
  margin: 0 5px 0 0;
  width: 30px;
  }

.loan-options__list-title {
  flex-shrink: 0;
  }

.loan-options__list-text {
  color: var(--tertiary-text-color);
  }

.services__description {
  text-align: center;
  }

/* footer */
.footer {
  padding: 32px 0 40px;
  border-top: 1px solid var(--primary-border-color);
  }

.footer__in {
  display: flex;
  justify-content: center;
  align-items: center;
  }

/* copy */
.copy {
  display: block;
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 27px;
  }